In [1]:
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline

In [2]:
animals = pd.read_csv("/users/amit/data/horse.csv")
animals.shape

(299, 28)

In [3]:
target = animals['outcome']

In [4]:
target.unique()

array(['died', 'euthanized', 'lived'], dtype=object)

In [5]:
animals =animals.drop(['outcome'],axis=1)

In [7]:
category_variables = list(animals.select_dtypes(include='object').columns)
dummyHorseT = pd.get_dummies(animals, prefix = category_variables)
dummyHorseT.shape

(299, 67)

In [8]:
for category in category_variables:
    animals[category] = pd.get_dummies(animals[category])

In [9]:
animals.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,1,1,530101,38.5,66.0,28.0,0,0,0,0,...,1,45.0,8.4,0,NaN,1,11300,0,0,1
1,0,1,534817,39.2,88.0,20.0,0,0,0,0,...,0,50.0,85.0,0,2.0,1,2208,0,0,1
2,1,1,530334,38.3,40.0,24.0,0,0,0,0,...,0,33.0,6.7,0,NaN,1,0,0,0,0
3,0,0,5290409,39.1,164.0,84.0,1,0,0,0,...,0,48.0,7.2,0,5.3,0,2208,0,0,0
4,1,1,530255,37.3,104.0,35.0,0,0,0,0,...,0,74.0,7.4,0,NaN,1,4300,0,0,1

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

X, y = animals.values,target.values



label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [11]:
from sklearn.tree import DecisionTreeClassifier
print(X_train.shape)

(239, 27)

In [12]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values="NaN",strategy="most_frequent",axis =0)
X_train = imp.fit_transform(X_train)
X_test = imp.fit_transform(X_test)

In [13]:
classifier = DecisionTreeClassifier()

In [14]:
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
y_predict = classifier.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy = accuracy_score(y_predict,y_test)

In [18]:
print(accuracy)

0.5833333333333334

In [19]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()

In [20]:
classifier.fit(X_train,y_train)
y_predict = classifier.predict(X_test)
accuracy = accuracy_score(y_predict,y_test)
print(accuracy)

0.6666666666666666